[submodule "Yousef-Eleshy/SchoolAppointment"]
	path = Yousef-Eleshy/SchoolAppointment
	url = git@github.com:Yousef-Eleshy/SchoolAppointment.git
	branch = WebsiteAppointment

[submodule "SMS"]
	path = SMS
	url = git@github.com:dinamohammed/schoolModules.git
	branch = School2
